<a href="https://colab.research.google.com/github/hansk112/python_practice/blob/main/weather_data_rename_header_chg_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import auth
import gspread
from google.auth import default
import pandas as pd

#autenticating to google
auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds) 
ws = gc.open_by_url("https://docs.google.com/spreadsheets/d/1Gl_tIpRCwrJjjkC5fWUgeh762G-z_SQxaWs1gA3YtB4/edit#gid=1831563943")

val = ws.get_worksheet(0).get_all_values()
# print(val)

df = pd.DataFrame(val)

# pd.head()

# set first row as column header values
df.columns = df.iloc[0]

# remove first row
df = df[1:]

df.head()
df.astype({"Start of Interval (UTC+12:00)" : "datetime64"})

# >>> df.astype({'col1': 'int32'}).dtypes
# col1    int32
# col2    int64
# dtype: object

# c = val.acell('A1')
# print(c)
# val = ws.acell('B1').value

0     Start of Interval (UTC+12:00) End of Interval (UTC+12:00) Value (mm)
1                        1993-03-24             25/03/1993 0:00        NaN
2                        1993-03-25             26/03/1993 0:00          0
3                        1993-03-26             27/03/1993 0:00       0.79
4                        1993-03-27             28/03/1993 0:00          0
5                        1993-03-28             29/03/1993 0:00       0.71
...                             ...                         ...        ...
10943                    2023-09-03             10/03/2023 0:00          0
10944                    2023-10-03             11/03/2023 0:00          2
10945                    2023-11-03             12/03/2023 0:00          0
10946                    2023-12-03             13/03/2023 0:00          0
10947                    2023-03-13             14/03/2023 0:00        NaN

[10947 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10947 entries, 1 to 10947
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Start of Interval (UTC+12:00)  10947 non-null  object
 1   End of Interval (UTC+12:00)    10947 non-null  object
 2   Value (mm)                     10947 non-null  object
dtypes: object(3)
memory usage: 256.7+ KB