<a href="https://colab.research.google.com/github/hansk112/python_practice/blob/main/weather_data_rename_header_chg_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from google.colab import auth
import gspread
from google.auth import default
import pandas as pd
import numpy as np


#autenticating to google
auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds) 
ws = gc.open_by_url("https://docs.google.com/spreadsheets/d/1Gl_tIpRCwrJjjkC5fWUgeh762G-z_SQxaWs1gA3YtB4/edit#gid=1831563943")

val = ws.get_worksheet(0).get_all_values()
# print(val)

df = pd.DataFrame(val)

# pd.head()

# set first row as column header values
df.columns = df.iloc[0]

# remove first row
df = df[1:]

# df.head()


# convert data types 
df['Value (mm)'] = df['Value (mm)'].astype(np.float64)
df["Start of Interval (UTC+12:00)"] = df['End of Interval (UTC+12:00)'].astype(np.datetime64)
df['End of Interval (UTC+12:00)'] = df['End of Interval (UTC+12:00)'].astype(np.datetime64)

print(df.info())
# df.["Value (mm)"].astype("float64")

# df.info()

# >>> df.astype({'col1': 'int32'}).dtypes
# col1    int32
# col2    int64
# dtype: object

# c = val.acell('A1')
# print(c)
# val = ws.acell('B1').value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10947 entries, 1 to 10947
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Start of Interval (UTC+12:00)  10947 non-null  datetime64[ns]
 1   End of Interval (UTC+12:00)    10947 non-null  datetime64[ns]
 2   Value (mm)                     10908 non-null  float64
dtypes: datetime64[ns](2), float64(1)
memory usage: 256.7 KB
None

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10947 entries, 1 to 10947
Data columns (total 3 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Start of Interval (UTC+12:00)  10947 non-null  object
 1   End of Interval (UTC+12:00)    10947 non-null  object
 2   Value (mm)                     10947 non-null  object
dtypes: object(3)
memory usage: 256.7+ KB