<a href="https://colab.research.google.com/github/hansk112/python_practice/blob/main/web_scrape_racing_form.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import bs4 as bs
import urllib.request
import pandas as pd

race_history = []

for i in range(10):

  source = urllib.request.urlopen("https://formproratings.co.nz/form/racing/results/?dt=2023-01-28&tab=4&no=" + str(i)).read()

  soup = bs.BeautifulSoup(source,"lxml")

  table = soup.find_all("table")

  df = pd.read_html(str(table))[0]
  race_history.append(df)


df_race_history = pd.concat(race_history)

print(df_race_history)

df_race_history.to_csv("/content/drive/MyDrive/race_history/history.csv")

    FIN             RUNNER          JOCKEY      SP  \
0     1      Boasting (11)  Sam Weatherley  $14.50
1     2        Pizzazz (4)             NaN  $19.60
2     3  Diamond Thief (2)     Opie Bosson   $2.50
3     4       Textbook (7)       Leah Hemi  $40.00
4     5  Mighty Bright (9)     Ryan Elliot  $20.20
..  ...                ...             ...     ...
11   12          Toms (15)     Ryan Elliot  $35.60
12   13         Novak (10)  Sarah O'Malley  $78.90
13   14   Subtle Point (1)  Tayla Mitchell  $15.00
14   15    Mr Fabulous (2)   Ashvin Mudhoo  $71.30
15  SCR        Charms Star             SCR     NaN

                          RACE COMMENTS   POS  DAYS STAKES   WGT   CAR    LEN  \
0    Out well,2nd otr 1000,led 350,nice   Trl  16.0     $0  54.5  54.5    NaN
1   3bk inr,out wdr 400,fght,tried hard   Mid  29.0     $0  56.0  56.0   2.8L
2     Hndy,4th otr 1000,out,fght gamely   NaN  21.0     $0  56.5  56.5   3.1L
3   6bk inr,wdr cn,out 350,solid finish  Back  16.0     $0  58.0  58.0   3.2L
4        9th otr,3w opn 800,game finish  Back  22.0     $0  56.5  56.5   3.3L
..                                  ...   ...   ...    ...   ...   ...    ...
11    9th 3w cv,wdr cn,out,urged,no fin   Mid  14.0     $0  53.0  53.0  10.6L
12   15th otr,out wide cn,never in hunt  Tail  10.0     $0  53.0  53.0  14.9L
13    2nd ot,und rd 700,faded,distance?   Trl  21.0     $0  53.0  53.0  21.9L
14      Trailed,und pres 700,faded away   NaN  14.0     $0  53.0  53.0  23.2L
15                            Scratched   NaN   NaN    NaN   NaN   NaN    NaN

     L600    RAT
0   37.55  100.0
1   37.64   98.0
2   37.84   98.0
3   37.02   99.0
4   37.20   98.0
..    ...    ...
11  38.74  102.0
12  38.83   97.0
13  40.72   90.0
14  40.56   89.0
15    NaN    NaN

[126 rows x 13 columns]

In [ ]:
import bs4 as bs
import urllib.request
import pandas as pd

scrape_table = []
year = 2023

# loop through year
for i in range(1):
  
# loop through months
  for i in range(13):

    src = urllib.request.urlopen("https://formproratings.co.nz/form/racing/select/?yy=" + str(year)  + "&mm="+ str(i) +"&mode=results")
    soup = bs.BeautifulSoup(src,"lxml")

    table = soup.find_all("table")
# find the first table
    try:
      df = pd.read_html(str(table))[0]
      scrape_table.append(df)
    except:
      pass
  # plus one year
  year = year + 1

df_scrape_table = pd.concat(scrape_table)

df_scrape_table.to_csv("/content/drive/MyDrive/race_history/racing_scrape_table_2023.csv")

In [6]:
import pandas as pd


df_1 = pd.read_csv("/content/drive/MyDrive/race_history/racing_scrape_table.csv")
df_2 = pd.read_csv("/content/drive/MyDrive/race_history/racing_scrape_table_2022.csv")
df_3 = pd.read_csv("/content/drive/MyDrive/race_history/racing_scrape_table_2023.csv")

complete_scrape = df_1.append(df_2)

complete_scrape = df_3.append(complete_scrape)

complete_scrape_df = complete_scrape.drop_duplicates()

complete_scrape_df["DATE"] = complete_scrape_df["DATE"]


year_df = complete_scrape_df["DATE"].str[-4:]

print(year_df)
complete_scrape_df.to_csv("/content/drive/MyDrive/race_history/complete_scrape.csv")
print(complete_scrape_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1285 entries, 0 to 577
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1285 non-null   int64
 1   DAY         1285 non-null   object
 2   DATE        1285 non-null   object
 3   M           1285 non-null   object
 4   COURSE      1285 non-null   object
 5   CLUB        1285 non-null   object
 6   VIEW        1285 non-null   object
dtypes: int64(1), object(6)
memory usage: 80.3+ KB
None

<ipython-input-6-722ddefd4878>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  complete_scrape = df_1.append(df_2)
<ipython-input-6-722ddefd4878>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  complete_scrape = df_3.append(complete_scrape)

In [16]:
year_df = complete_scrape_df["DATE"].str[-4:]

# df1.State.str.extract(r'\b(\w+)$', expand=True)

month_df  = complete_scrape_df["DATE"].str[3:6]
# df['UserName'] = df['Name'].str.slice(0, 3)


print(month_df)

0      Jan
1      Jan
2      Jan
3      Jan
4      Jan
      ...
573    Dec
574    Dec
575    Dec
576    Dec
577    Dec
Name: DATE, Length: 1285, dtype: object